.lis li{
    color: green;
}
.subm{
    background-color: green;
    color: white;
    border: 1px solid green;
    transition: 1s;
    width: 100%;
    height: 50px;
    font-size: 17px;
}
.subm:hover{
    background-color: white;
    color: green;
}